* {
    font-family: Inter, Segoe UI, Arial, sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nahara-network-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    appearance: none;
    height: 24px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    padding: 2px 12px;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #ffffff;

    &:hover {
        background-color: #efefef;
        border: 1px solid #7f7f7f;
    }

    &:active {
        background-color: #cecece;
        border: 1px solid #7f7f7f;
    }
}

input {
    appearance: none;
    height: 24px;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 2px 12px;

    &:hover, &:active, &:focus {
        background-color: #efefef;
        border: 1px solid #7f7f7f;
    }
}

.context-menu {
    position: absolute;
    border: 1px solid #7f7f7f;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    > .label {
        user-select: none;
        padding: 2px 12px;
        height: 24px;
        box-sizing: border-box;
        align-content: center;
        background-color: #3f3f3f;
        color: #ffffff;
    }

    > button {
        box-shadow: none;
        border: 0;
        width: 100%;
        text-align: left;
    }
}